<nav>
  <div class="site-title">
    <a href="/"><h1>GoMyCode</h1></a>
    <p>Smails Project</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/services">Our Services</a></li>
    <li><a href="/blogs/contact">Contact Us</a></li>
  </ul>
</nav>